@import 'https://fonts.googleapis.com/css?family=Monda';
@import "./reset.scss";
@import "./variables.scss";

body {
  background-color: $primary-color;
  font-size: 13px;
  background-color: #17408b;
  font-family: "Monda", sans-serif;
}

* {
  box-sizing: border-box;
}

.top-header{
  background-color: #C9082A;
  height:180px;
  padding-top: 50px;
  text-align: center;
  border-bottom: 1px solid black; 
  
  h1 {
    color: white;
    font-size: 36px;
    font-weight: 600;
    padding: .1em 0em .1em 0em;
  }

  h3 {
    color: white;
    font-size: 24px;
    padding: 0
  }
}

.nba-game-container {
  color: white;
  
  .game {
    padding: .3em 0em .3em 0em;
  }
}

.nba-teams {
  color: white;

  p {
    padding: .5em 0em .5em 0em;
  }
}
